.banner-guidelines {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  min-height: 640px;
}

#banner-guidelines-content h1 {
  color: white;
}

#banner-guidelines-content h3 {
  color: white;
}

#wraper-guidelines-subhead h5 {
  color: black;
  margin-top: 50px;
}

#wraper-guidelines-bulletpoints li{
  list-style: none;
  margin-left: -38px;
  margin-bottom: 15px;
}

#wraper-guidelines-content p {
  margin-top: 40px;
  color: gray;
  font-weight: bold;
}

#wraper-guidelines-content h4 {
  color: black;
  margin-bottom: 30px;
}

#wraper-guidelines-content h6 {
  text-align: justify;
}