.banner-guidelines {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  min-height: 640px;
}

#banner-guidelines-content {
  width: 100%;
}

#banner-guidelines-content h1, h3 {
  text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
  text-shadow: horizontal-offset vertical-offset blur color;
}

#banner-guidelines-content h1 {
  color: white;
}

#banner-guidelines-content h3 {
  color: white;
  font-weight: lighter;
  margin-top: 20px;
}

#banner-guidelines-content .btn {
  margin-top: 30px;
  font-size: 20px;
}

#wraper-guidelines-subhead h5 {
  color: black;
  margin-top: 50px;
}

#wraper-guidelines-bulletpoints li{
  list-style: none;
  margin-left: -38px;
  margin-bottom: 15px;
}

#wraper-guidelines-content p {
  margin-top: 40px;
  color: gray;
  font-weight: bold;
}

#wraper-guidelines-content h4 {
  color: black;
  margin-bottom: 30px;
}

#wraper-guidelines-content h6 {
  text-align: justify;
}

.wraper-guidelines {
  margin-bottom: 50px;
  width: 100%;
}
