
.carousel-container {
  height: 65vh;
}

// title
.container-campaign {
  background-position: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.title-campaign {
  background-color: white;
  color: #216869;
  text-align: center;
}

  // card

.wraper-campaign-card {
  background-color: white;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  color: black;
  margin-bottom: 50px;
}
//
.campaign-card {
  color: black;
  height: 100%;
}

//
.card-body {
  padding: 0;
}

//
.campaign-info {
  border: 1px solid lightgray;
  padding: 10px;
}

//


//
.project-title {
  margin-top: 15px;
}

//
.description {
  margin-bottom: 10px;
}

//
.campaign-end-date {
  margin: 20px 0;
  border: 1px solid lightgray;
  padding: 21px;
}

//
.end-date-text {
  text-align: center;
}

//
.investment-info {
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

//
.campaign-equity {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid lightgray;
}

//
.campaign-btn {
  border: 1px solid lightgray;
}

//
.campaign-investment {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100vw;
}


//
.card {
  height: 100%;
}

.card-title {
  color: #216869;
}

.card-text {
 color:black;
 text-align: left;
}

.card-img-top{
  height: 25vh;
}

h1 {
  color: #216869;
  margin-bottom: 5px;
  margin-top: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

