

.index-title {
  margin-top: 30px;
  text-align: center;

h1 {
  color: $bgreen;
  }
 }

h2 {
  color: $borange;
}


.content-wrapper {
  margin: 50px;
}

.carousel-content {
  position: absolute;
  bottom: 40%;
  left: 10%;
  z-index: 20;

  h2, .carousel-btn {
   color: $bwhite;
   text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  }

  .feature-btn {
  border-radius: 2px;
  background-color: $bwhite;
  color: $borange;
  border: 1px solid $bwhite;
  width: 70px;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

  .carousel-btn {
    margin: 0;
    text-decoration: none;
    &:hover {
      color: $borange;
      text-shadow: 0 1px 0.8px rgba(255,255,255,0.3);
    }
  }
}


