

.index-title {
  margin-top: 30px;
  text-align: center;

h1 {
  color: $bgreen;
  }
 }

h2 {
  color: $borange;
}


.content-wrapper {
  margin: 50px;
}

.carousel-content {
  position: absolute;
  bottom: 40%;
  left: 10%;
  z-index: 20;

  h2, .carousel-btn {
   color: $bwhite;
   text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  }

  .carousel-btn {
    margin: 0;
    text-decoration: none;
    &:hover {
      color: $borange;
      text-shadow: 0 1px 0.8px rgba(255,255,255,0.3);
    }
  }
}

.feature-btn {
  border-radius: 2px;
  background-color: $bwhite;
  color: $borange;
  border: 1px solid $bwhite;
  width: 70px;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}



form {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;


  #query {
    width: 70%;
    border-radius: 8px;
  }

  button {
    border: none;
    background: none;
  }

  .search-btn {
    font-size: 30px;
    margin-left: 10px;
    color: $bwhite;
    text-shadow: 0 1px 0.8px rgba(0,0,0,0.6);
    &:hover {
      color: $borange;
      text-shadow: 0 1px 0.8px rgba(255,255,255,0.3);
    }
  }
}

#cards-campaign {
  margin-top: 40px;
}


