#wraper-main-dashboard {
  min-height: 100vh;
  margin-top: 10px;
  background-color: white;
}


#dashboard-show-user-info {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  min-height: 110vh;
}


#info-first-name-last-name h2{
  font-weight: 300;
  color: #ff6f59;
  text-shadow: none;
  text-align: right;
}

#dashboard-show-user-info h5{
  color: #143D3E;
  font-weight: 300;
  font-size: 38px;
}

#dashboard-show-user-info a{
  text-decoration: none;
  font-size: small;
  color: #fafffe;
  justify-items: left;
  margin-left: -10px;
}

#user-address p{
  font-size: 18px;
  color: #201E1F;
}

#user-address h6{
  color: #143D3E;
  font-weight: 300;
  font-size: 30px;
  margin-top: 30px;
}

#user-gender p{
  font-size: 18px;
  color: #201E1F;
}

#user-gender h6{
  color: #143D3E;
  font-weight: 300;
  font-size: 30px;
  margin-top: 25px;
}

#user-phone-number p{
  color: #201E1F;
  font-size: 18px;
}

#user-phone-number h6 {
  color: #143D3E;
  font-weight: 300;
  font-size: 30px;
  margin-top: 25px;
}

#project-iteration{
  margin-top: 30px;
}

#project-iteration h4{
  font-size: 36px;
  text-align: left;
  margin-top: 24px;
  font-weight: 300;
  color:#ff6f59;
}

#profile-tab{
  color: black;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

#contact-tab{
  color: black;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

#home-tab{
  color: black;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

#navegation-bar{
  margin-top: 10px;
}

.nav-tabs {
  border-bottom: 2px solid #ff6f59;
}

.nav-tabs .nav-link {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#user-tags-personal{
  margin-top: 45px;
}

.nav-tabs .nav-link.active {
  background-color: #ff6f59;
  color: white !important
}

.img-round{
  border: 6px solid $bwhite;
  border-radius: 0px 50px 50px 50px;
  box-shadow: 0 0 3px #ccc;
}