// Specific CSS for your home-page
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


#home-banner {
  background-image: linear-gradient(to top, rgba(248,213,58, 0.2), rgba(255, 111, 89, 0.6)), asset-url('bg_buswoman.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
}

.catch-phrase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #FAFFFE;
  width: 42%;
  margin: 200px 40px;
}

.catch-phrase h1 {
  font-size: 65px;
  width: 80%;
  color: #FAFFFE;
  font-weight: bold;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  text-shadow: horizontal-offset vertical-offset blur color;
}

.catch-phrase p {
  font-size: 24px;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  text-shadow: horizontal-offset vertical-offset blur color;
}


.btn {
  font-size: 16px;
  font-weight: light-bold;
  background-color: $bwhite;
  border-radius: 8px;
  padding: 15px 40px;
  color: $bgreen;
  border-style: none;

  &:hover{
    background-color: $bgreen;
    color: $bwhite;
  }
}


#home-cards-container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px;
}

.cards-header {
  display: flex;
  margin-top: 30px;
  justify-content: left;
  margin-left: 40px;
  margin-bottom: 0px;
  color: $bgreen;
  font-weight: 200;
}


.cards {
  margin-bottom: 50px;

}

.separator {
  width: 95%;
  border: 1px solid lightgray;
  margin-bottom: 0px;
}

