// Specific CSS for your home-page
body {
  background-color: rgba(254, 251, 236, 0.4);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  color: #FAFFFE;

}

p {
  color: #FAFFFE;
}

#home-banner {
  background-image: linear-gradient(to top, rgba(248,213,58, 0.2), rgba(255, 111, 89, 0.6)), asset-url('bg_buswoman.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;

}

.catch-phrase {
  display: block;
  margin: 200px 40px;
  width: 600px;
}

.catch-phrase h1 {

  font-size: 60px;
  color: #FAFFFE;
  font-weight: bold;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  text-shadow: horizontal-offset vertical-offset blur color;

}

.catch-phrase p {
  font-size: 24px;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  text-shadow: horizontal-offset vertical-offset blur color;
}


.btn {
  font-size: 16px;
  font-weight: light-bold;
  background-color: $bwhite;
  border-radius: 8px;
  padding: 15px 40px;
  color: $bgreen;
  border-style: none;

  &:hover{
    background-color: $bgreen;
    color: $bwhite;
  }
}


#home-cards-container {
  padding: 150px 80px 150px 80px;

}
