.order_wrap {
  margin: auto;
}

.order-img {
  border: 1px solid #dee2e6;
  border-radius: 2px;
}

.order-title {
  color: $bgreen;
  margin-bottom: 20px;
}

@media (max-width: 767px){
  .order-title {
    margin-top: 30px;
  }
}

.order-text {
  color: black;
  margin-bottom: 10px;
}

.order-button {
  padding: 10px 15px;
}
