#banner-campaign-content{
	height: 400px;
	padding: 20px;
	width: 90%;
	body {
		background-color: white !important;
	}
	
}

#campaign-name h1 {
	margin-left: 30px;
	color: #ff6f59;
}

#campaign-main-card{
	border: 1px solid rgba(252, 252, 252, 0.4);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	height: 280px;
	width: 1000px;
	margin-left: 10px;
}

#campaign-photo{
	margin-top: 10px;
	display: flex;
}

#campaign-card-info p{
	display: flex;
	color: black;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
	margin-left: 200px;
	margin-bottom: 10px;
	font-size: 18px;
	margin-right: 200px;
	
}



#campaign-card-info span {
	margin-left: 200px;
	color: black;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	margin-bottom: 30px;
}

#campaign-card-money-info p{
	display: block;
	color: black;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
	margin-left: -100px;
	margin-bottom: 10px;
	font-size: 17px;
	
}

#campaign-card-money-info button{
	border-radius: 10px;
	background-color: white;
	text-shadow: none
}

#campaign-card-money-info h6{
	display: block;
	color: #ff6f59;
	margin-left: -100px;
	justify-content: center;
	padding: 3px;
	text-decoration: none;

}

#wraper-show-page {
	width: 95%;
	padding-top: 100px
}

#wraper-side-bar {
	margin-left: 10px;
	display: flex;
}


#sidebar {
	margin-bottom: 30px;
  min-width: 300px;
	max-width: 300px;
	margin-top: 20px;
  margin-bottom: 30px;
  background: #ff6f59;
  color: #fff;
  transition: all 0.3s;
  border-radius: 10px;
  &.active{
  	margin-left: -300px;
  }.img{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
  .logo{
  	display: block;
  	width: 120px;
  	height: 120px;
  	margin: 0 auto;
  	span{
  		display: block;
  	}
  }
  ul.components{
  	padding: 0;
  }
  ul{
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
					font-size: 16px;
					text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    		}
    	}
    	a{
    		padding: 10px 0;
		    display: block;
				color: rgba(255,255,255,.8);
				text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
		    border-bottom: 1px solid rgba(255,255,255,.5);
		    &:hover{
					color: rgba(255,255,255,.8);
					font-weight: bold;
					font-size: 18px;
					transition: 0.3s;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color:  rgba(255,255,255,.8);
    		}
    	}
    }
  }
  @include media-breakpoint-down(md){
    margin-left: -300px;
    &.active {
        margin-left: 0;
    }
  }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#sidebarCollapse{
	span{
		@include media-breakpoint-down(md){
	    display: none;
		}
	}
}

#nav {
  padding: 15px 10px;
	background-color: #ff6f59 !important;
	color: #fff !important;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#nav a{
	color: #fff;
	font-size: 16px;
}

#nav .active a{
	color: #fff;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#wraper-project p{
	color: black;
	text-align: justify;
}

#project-name h1{
	color: #ff6f59;
	font-weight: 800;
	margin-bottom: 50px;
}

#wraper-project h3 {
	color: #ff6f59;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 20px;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

#wraper-project h2{
	color: #ff6f59;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 20px;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}