#wraper-main-showpage {
	width: 100%;
	min-height: 100vh;
}

#wraper-campaign-content {
	border-bottom: 1px solid #08836F;
	height: fit-content;
	padding: 80px;
}

#campaign-all-info p {
color: #08836F;
margin-left: 15px;
font-size: 18px;
font-weight: 600;
margin-bottom: -5px;
}

#campaign-name p {
	font-size: 48px;
	color: #201E1F;
}

#campaign-description p {
	margin-top: -15px;
	font-size: 24px;
	color: #201E1F;
	margin-bottom: 20px;
  overflow-wrap: break-word;
}

#campaign-icon {
	width: 50%;
	height: fit-content;
	float: left;
	margin-left: 15px;
}

#campaign-icon span {
	color: gray;
}

.fa-tags {
	font-size: 25px;
	color: #ff6f59;;
}

#campaign-country {
	margin-left: 50%;
	height: fit-content;
}

#campaign-country span {
	color: gray;
	font-weight: 600;
}

#campaign-start-date {
	width: 50%;
	height: fit-content;
	float: left;
	margin-left: 0;
	margin-top: 15px;
}

#campaign-start-date p {
 margin-left: 15px;
}

#campaign-start-date span {
	margin-left: 15px;
	font-size: 16px;
	font-weight: 800;
}

#campaign-end-date {
	margin-left: 50%;
	height: fit-content;
	margin-top: 15px;
	margin-left: 15px;
}

#campaign-end-date p {
	margin-left: 15px;
}

#campaign-end-date span {
	font-size: 16px;
	font-weight: 800;
}

#campaign-amout-pretend {
	width: 50%;
	height: fit-content;
	float: left;
	margin-left: 0;
	margin-top: 0px;
}

#campaign-amout-pretend p {
	margin-top: 15px;
	margin-left: 15px;
	color: #201E1F;
}

#campaign-amout-pretend span {
	font-size: 20px;
	font-weight: 800;
	margin-left: 15px;
	margin-top: -20px;
}

#campaign-equity-offered {
	margin-left: 50%;
	height: fit-content;
	margin-top: 15px;
	margin-left: 15px;
}

#campaign-equity-offered p {
	margin-top: 15px;
	margin-left: 15px;
	color: #201E1F;
}

#campaign-equity-offered span {
	font-size: 20px;
	font-weight: 800;
	margin-left: 0px;
	margin-top: -20px;
}


#campaign-amout-funded{
	width: 50%;
	height: fit-content;
	float: left;
	margin-left: 0;
	margin-top: 0px;
}

#campaign-amout-funded p{
	margin-top: 15px;
	margin-left: 15px;
	color: #201E1F;
}

#campaign-amout-funded span {
	font-size: 20px;
	font-weight: 800;
	margin-left: 15px;
	margin-top: -20px;
}

#button-investement {
	width: 50%;
	height: fit-content;
	float: left;
	margin-top: 20px;
}

#social-media-icons {
	width: 50%;
	height: fit-content;
	float: left;
	margin-top: 15px;
	margin-left: -120px;
}

#social-media-icons p {
	margin-top: 15px;
	margin-left: 50%;
	color: #201E1F;
  letter-spacing: 2px;

  .fa-twitter-square, .fa-facebook-square, .fa-instagram-square {
	font-size: 20px;
	color: #08836F;

    &:hover {
    color: #201E1F;
    }
}

}

#wraper-product-main-content {
	height: fit-content;
	//border: 1px dashed gray

}

.list-inline-item:not(:last-child) {
	margin-right: 0.7rem;
}

#tab-product-action {
	margin-top: 50px;
	border: 1px solid rgba(252, 252, 252, 0.4);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	width: 70%;
	height: fit-content;
	float: left;
}


#tab-product-action a{
	list-style: none;
	text-decoration: none;
	color: #201E1F;
	font-size: 20px;
	font-weight: 600;

}
#tab-product-action a:hover{
	color: #08836F;
	border-bottom: 1px solid #08836F;
	transition: ease-in, 0.2s;
}

#wraper-product-info-categories-item h3{
	margin-left: 38px;
	margin-bottom: 30px;
	margin-top: 30px;
	color: #ff6f59;
}

#wraper-product-info-categories-item h6{
	margin-left: 38px;
	text-align: justify;
	line-height: 1.6;
}

#wraper-product-info-categories {
	width: 70%;
	height: fit-content;
	float: left;
}

#project-photo {
	margin-top: 30px;
}
