#wraper-dashboard-project-border{
  width: 600px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

#wraper-dashboard-project .flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
}

#dashboard-project-details{
  margin-left: 15px;
  margin-top: -10px;
}

#dashboard-project-details h4 a{
  margin-top: 15px;
  margin-left: 25px;
  text-decoration: none;
  color: black;
}

#dashboard-project-details h4 a:hover{
  transition: ease-in-out, 0.3s;
  font-size: bold;
  border-bottom: 2px solid black;
}

#dashboard-project-details h6{
  margin-left: 40px;
  font-weight: 800;
  margin-top: 15px;
  color: black;
  margin-left: 10px;

}

#user-without-project h5{
  margin-top: 50px;
}