<div id="wraper-dashboard-project-border">
  <div id=wraper-dashboard-project>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">    
          <div id="dashboard-project-photo" class="flex-gap"> 
            <%= cl_image_tag project.photo.key, crop: :fill, height: 150, width: 150, radius: 5 %>
            <div id="dashboard-project-details">
              <h4><%= link_to project.project_name, project_path(project) %></h4>
              <h6><i class="fas fa-tags"></i><%= project.category %></h6>
            </div>
          </div>   
        </div>     
     </div>
    </div>  
  </div> 
</div>   