<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 md-6 sm-3">
      <h2>Hello, <%= current_user.first_name %>! These are your transactions:  <h2>
      <ol>
        <% @transactions.each do |tran| %>
        <li><%= tran.id %></li>
        <% end %>
        </ol>

      <h1>Your projects:<h1>

      <ol>
        <% @current_user.projects.each do |prj| %>
        <li>
        <%= prj.project_name %>
        <% prj.campaigns.each do |cmp| %>
        <li><%= cmp.id %></li>
        <% end %>
        </li>
        <% end %>
      </ol>
    </div>  
  </div>    
</div>  
