    <nav class="col-md-2 d-none d-md-block sidebar">

      <div class="sidebar-sticky">
        <div class="sidebar-title">
          <p>Filter by Category</p>
          <hr>
        </div>
        <ul class="nav flex-column">
          <li id="sidebar-item" class="nav-item">
            <%= link_to "All Categories", campaigns_path, class:"nav-link active" %>
          </li>
          <li id="sidebar-item" class="nav-item">
            <div class="dropdown">
              <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Show All
              </button>
              <div id="sidebar-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @categories.each do |category|%>
                <%= link_to category, campaigns_path(params[:category]), class: "dropdown-item" %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
