<div id="home-banner">
  <div class="catch-phrase" data-aos="fade-right" data-aos-duration="1500">
    <div class="row">
        <h1 class="home-header" >Ready to start <br>
        a business?</h1>
        <p>Balancer is listening to the voice of underrepresented
          entrepreneurs</p>
        <%= link_to "Start Now", about_path, class: "btn" %>
      </div>
    </div>
</div>

<br>
<h2 class="cards-header">Amazing campaigns</h2>
<hr class="separator">
 <%= render 'shared/campaigns_carousel' %>

<div id="about-wrapper">
  <div class="show-on-scroll" data-aos="fade-right" data-aos-duration="1200">
    <%= image_tag "passion.png" %>
  </div>
  <div class="about-text" data-aos="fade-left" data-aos-duration="1200">
    <h1>About Balancer</h1>
    <p> Our platform  <strong>is connecting</strong> investors to Social Impact Projects</p>
    <p> Find your investors  <strong>today</strong> </p>
  </div>
</div>

