<div id="home-banner">
  <div class="catch-phrase">
    <div class="row">
        <h1>Ready to start a business?</h1>
        <p>Balancer is listening to the voice of underrepresented
          entrepreneurs</p>
        <%= link_to "Start Now", about_path, class: "btn" %>
      </div>
    </div>
</div>

<br>
<h2 class="cards-header">Amazing campaigns</h2>
<hr class="separator">
 <%= render 'shared/campaigns_carousel' %>

<div id="about-wrapper">
    <%= image_tag "passion.jpeg" %>

  <div class="about-text">
    <h1>About Balancer</h1>
    <p class="line-content"><i class="far fa-building"></i> Our network includes almost <strong>3000 business centres, spanning almost 900 cities across 120 countries.</strong></p>
  </div>
</div>

