
<div id="home-banner">
  <div class="catch-phrase">
    <h1>Ready to start a business?</h1>
    <p>Balancer is funding
    and giving voice to underrepresented
    entrepreneurs</p>
    <%= link_to "Start Now", about_path, class: "btn" %>
  </div>
</div>

<br>
<div id="home-cards-container" class="container">
  <div class="cards">
    <div class="card">
      <img src="https://source.unsplash.com/JKUTrJ4vK00/1600x900" alt="">
      <h4>Project 1</h4>
      <p>Category</p>
    </div>
    <div class="card">
      <img src="https://source.unsplash.com/Y3LGWCsrgmg/1600x900" alt="">
      <h4>Project 2</h4>
      <p>Category</p>
    </div>
    <div class="card">
      <img src="https://source.unsplash.com/eBmyH7oO5wY/1600x900" alt="">
      <h4>Project 3</h4>
      <p>Category</p>
    </div>
  </div>
</div>
<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container text">
    <h1 class="display-4 text-center">About Balancer</h1>
      <div class="container jumbo">
        <div class="item">
          <p class="line-content"><i class="fas fa-arrows-alt"></i> We are <strong>a platform completely focused on giving voice to social impact projects and underrepresented entrepreneurs.</strong> </p>
        </div>
        <div class="item">
          <p class="line-content"><i class="fas fa-briefcase"></i> We enable underrepresented entrepreneurs to <strong>find investors to their social impact project.</strong></p>
        </div>
        <div class="item">
        <p class="line-content"><i class="far fa-building"></i> Our network includes almost <strong>3000 business centres, spanning almost 900 cities across 120 countries.</strong></p>
        </div>
        <div class="item">
        <p class="line-content"><i class="fas fa-globe"></i> We were founded in Portugal and Romenia in 2020. Birou is based in Lisbon and Romenia and listed on the Bananas Stock Exchange.</p>
        </div>
      </div>
  </div>
</div>

