<div class="office-form container">
  <div class="row">
    <div class="col-6">
      <h1>New Project</h1>

      <h2>Let&apos;s get you started</h2>
      <%= render "form_project", project: @project %>
    </div>
  </div>
</div>
