.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 300px;
  height: 400px;
  margin-left: 40px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(230,230,230);
  background-color: white;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;

  &:hover {
    transform: scale(1.08);
    transition: 0.3s;
  }
}

.card img {
  height: 150px;
}

.card h4{
  font-size: 16px;
  margin: 21px 0;
}

.card p {
  opacity: .6;
  font-size: 12px;
}
