
.cards {
  margin-bottom: 50px;
  margin-top: 50px;

  a{
    text-decoration: none;
  }
}

.card {
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(230,230,230);
  background-color: white;
  text-align: center;
  padding: 30px 10px;
  border: 1px solid #ddd;

  img {
    height: 150px;
  }

  h4,h5 {
    font-size: 16px;
    margin-top: 10px;
  }

  p {
    opacity: 0.6;
    font-size: 12px;
 }

  &:hover {
    transform: scale(1.08);
    transition: 0.3s;
  }
}
