.form-background{
  background-image: linear-gradient(to top, rgba(248,213,58, 0.1), rgba(255, 111, 89, 0.2));
  width: 100%;
  background-size: cover;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}


#form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;

  a {
    font-size: 12px;
    text-decoration: none;
    color: #0F2E2F;
    &:hover{
      color: $bgreen;
    }
  }
}

.sign-up-form {
  background: $bwhite;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  margin-right: 0px;
  border-radius: 4px;

  h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color:$bgreen;
  }

  h3, p {
    font-size: 15px;
    color:$borange;
    text-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.2);
  }



  .form-btn {

    font-size: 15px;
    font-weight: light-bold;
    background-color: $bgreen;
    border-radius: 8px;
    padding: 10px 30px;
    color: $bwhite;
    border-style: none;
    width: 100%;
    margin-bottom: 20px;

      &:hover{
    background-color: $bwhite;
    color: $borange;
    }
  }
}

.form-actions {
  text-decoration: none;
  padding-top: 10px;
}

.sign-up-form {
  width: 450px;
}
