.jumbotron {
  background-color: rgba(254, 251, 236, 0.8);
  margin-bottom: 0px;
  margin-top: 0px;
}
.jumbotron h1{
  font-size: 40px;
  margin-bottom: 40px;
  color: #201E1F;
}
.item {
  width: 100%;
  padding-right: 50px;
}

.container .jumbo {
  display: flex;
  flex-wrap: wrap;
}

.container .jumbo>div {
  flex: 0 50%;
}

.jumbotron p {
  color: $bblack;
}
