#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #ff6f59;
  color: #fff;
  transition: all 0.3s;
  &.active{
  	margin-left: -300px;
  }
  .logo{
  	display: block;
  	width: 120px;
  	height: 120px;
  	margin: 0 auto;
  	span{
  		display: block;
  	}
  }
  ul.components{
  	padding: 0;
  }
  ul{
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
    		padding: 10px 0;
		    display: block;
		    color: rgba(255,255,255,.8);
		    border-bottom: 1px solid rgba(255,255,255,.1);
		    &:hover{
		    	color: $primary;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: $primary;
    		}
    	}
    }
  }
  @include media-breakpoint-down(md){
    margin-left: -300px;
    &.active {
        margin-left: 0;
    }
  }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#sidebarCollapse{
	span{
		@include media-breakpoint-down(md){
	    display: none;
		}
	}
}