
 <% pledged_total = 0 %>
 <% campaign.shareholders.each do |sh| %>
 <% pledged_total += sh.amount %>
 <% end %>
<% percent = (pledged_total / campaign.investment_goal) * 100 %>

<div class="progress">
  <progress max="100" value="<%= percent %>"></progress>
</div>

