<div class="form-background">
  <div id="form-container" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="sign-up-form">

          <h1>New Campaign<h1>
          <h3>Let&apos;s find your investors</h3>
          <%= render 'form_campaign' %>
        </div>
      </div>
    </div>
  </div>
</div>

